pipeline/pl_incremental_load_1.json
{
	"name": "pl_incremental_load_1",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@adddays(utcnow(),-2)",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"wildcardFolderPath": "raw",
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_incremental_load_old_files",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_incremental_load_new_files",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://lg-emailalertkg.azurewebsites.net:443/api/emailAlert/triggers/manual/invoke?api-version=2022-05-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=UTP9ye1iO1b29OJ2eSL8Cw3fTomHt82WiLRJ8mTZaqk",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"Pipeline": "@{pipeline().Pipeline}",
						"DataFactory": "@{pipeline().DataFactory}",
						"ErrorMessage": "@{activity('Copy data1').Error.Message}",
						"RunId": "@{pipeline().RunId}"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-01-09T06:48:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}